In [1]:
import numpy as np
import pandas as pd

In [4]:
a = pd.Series([1,2,3,4,5], index=['Andrej', 'Beata', 'Cyril', 'Dezider', 'Eugen'])
b = pd.Series([6,7,8,9,10])
print(a, '\n', b)

Andrej     1
Beata      2
Cyril      3
Dezider    4
Eugen      5
dtype: int64
 0     6
1     7
2     8
3     9
4    10
dtype: int64

In [5]:
f = lambda x: x > 3
print(type(a))
a.map(f)

<class 'pandas.core.series.Series'>

Andrej     False
Beata      False
Cyril      False
Dezider     True
Eugen       True
dtype: bool

In [7]:
c = filter(f, a)
print(c)
print(list(c))

<filter object at 0x000001A548EB7550>
[4, 5]

In [8]:
a.sort_values()

Andrej     1
Beata      2
Cyril      3
Dezider    4
Eugen      5
dtype: int64

In [9]:
a[::-1]

Eugen      5
Dezider    4
Cyril      3
Beata      2
Andrej     1
dtype: int64

In [10]:
sorted(a, reverse=True)

[5, 4, 3, 2, 1]

# DataFrame

In [16]:
data = pd.DataFrame(a)
print(data)

data[1] = a.map(f)
print(data)

data[2] = list(b)
print(data)

         0
Andrej   1
Beata    2
Cyril    3
Dezider  4
Eugen    5
         0      1
Andrej   1  False
Beata    2  False
Cyril    3  False
Dezider  4   True
Eugen    5   True
         0      1   2
Andrej   1  False   6
Beata    2  False   7
Cyril    3  False   8
Dezider  4   True   9
Eugen    5   True  10

In [19]:
data[3] = data[0] + data[2]
print(data)
data[4] = data[3].rank()
print(data)

         0      1   2   3
Andrej   1  False   6   7
Beata    2  False   7   9
Cyril    3  False   8  11
Dezider  4   True   9  13
Eugen    5   True  10  15
         0      1   2   3    4
Andrej   1  False   6   7  1.0
Beata    2  False   7   9  2.0
Cyril    3  False   8  11  3.0
Dezider  4   True   9  13  4.0
Eugen    5   True  10  15  5.0

In [22]:
data[2]

Andrej      6
Beata       7
Cyril       8
Dezider     9
Eugen      10
Name: 2, dtype: int64

In [24]:
f = data.loc[(data[4] >= 3) & (data[1] == False)]
print(f)

       0      1  2   3    4
Cyril  3  False  8  11  3.0

In [ ]:
# TODO Prestavka do 19:52